* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 100%;
  width: auto;
}

body {
  font-family: "Arial", Arial;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav section aside"
    "footer footer footer";
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  gap: 20px;
  background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
}

body {
  overflow-x: hidden;
}

/* Header */
header {
  grid-area: header;
  background: linear-gradient(90deg, #6b8eff, #72a8ff); /* Blue gradient */
  padding: 10px;
  font-size: x-medium;
  font-weight: bold;
  text-align: left;
}

.header-img {
  width: 50px;
  height: 45px;
  margin-right: 10px;
  border-radius: 50%;
  float: left;
}

/* Navigation */
nav {
  grid-area: nav;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

nav ul {
  list-style-type: none;
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
  padding: 10px;
  display: block;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
nav ul li a:hover {
  background-color: #6b8eff;
  color: white;
}

/* Section */
section.content-section {
  grid-area: section;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

section.content-section:hover {
  transform: translateY(-5px);
}

.content-section h2 {
  margin-bottom: 20px;
}

/* Aside  */
aside {
  grid-area: aside;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

aside:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
}

aside h2 {
  margin-bottom: 10px;
}

aside ul {
  list-style-type: none;
}

aside ul li {
  margin: 10px 0;
}

/* Footer */
footer {
  grid-area: footer;
  background: linear-gradient(90deg, #ff9a3b, #ff6b6b);
  padding: 20px;
  text-align: center;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

footer a:hover {
  color: #ff6b6b;
}

footer .social-media p {
  margin-bottom: 2px;
}

footer p {
  margin: 0;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas:
      "header header header"
      "nav section section"
      "aside aside aside"
      "footer footer footer";
  }
}

@media screen and (max-width: 480px) {
  body {
    display: grid;
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "section section section"
      "aside aside aside"
      "footer footer footer";
  }
}
